.paragraph{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.list{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.imgL{
    width: max-content;
    height: max-content;
    margin: 2.75ch;
    scale: 1.5;
}
.textR{
    padding-left: 30px;
}
