body{
    --text-hover-color: rgb(149, 93, 255);
    --body-background-color: rgba(255, 183, 238, 0.575);
    --page-boundary-color: rgb(255, 176, 238); 
    --text-shadow-color: white;
    --background-hover-color: rgb(255, 137, 182);
    --text-default-color: rgb(13, 7, 15);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 60px;
    text-shadow: 1px 1px 2px var(--text-shadow-color);
    background-color: rgb(254, 236, 255);
    margin: 10px;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        --text-hover-color: rgb(196, 164, 255);
        --body-background-color: rgba(59, 18, 50, 0.575);
        --page-boundary-color: rgb(71, 10, 58);
        --text-shadow-color: black; 
        --text-default-color: azure;
        --background-hover-color: rgb(128, 47, 94);
        background-color: rgb(56, 46, 46);
    }
}

.header{
    box-sizing: border-box; 
    z-index: 10;
    background-color: var(--page-boundary-color); 
    height: 60px;
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
}

.header ol{
    margin: 0px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style:none;
    padding-inline-start: 20px;
    height: 100%;
}

.header ol a{
    text-decoration: none;
    display: block;
    min-width: 100px;
    max-width: 250px;
    --maybe-hover-text-color: var(--text-default-color);
}

.header ol :hover{
    --maybe-hover-text-color: var(--text-hover-color);
    background-color: var(--background-hover-color);
}

.header ol a li{
    text-transform: capitalize;
    text-align: center;
    vertical-align: middle;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 150%;
    color: var(--maybe-hover-text-color);
}

.page{
    color: var(--text-default-color);
    background-color:var(--body-background-color);
    display: flex;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - 150px);
    padding: 20px;
    max-width: 820px;
    border-radius: 15px;
}

.pageEnd{
    box-sizing: border-box; 
    z-index: 10;
    background-color: var(--page-boundary-color); 
    min-height: 100px;
    width: calc(100% + 20px);
    margin-top: 10px;
    margin-right: -10px;
    margin-bottom: -10px;
    margin-left: -10px;
    padding: 20px;
}

.pageEnd b{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.pageEnd b ol{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: 20%;
    list-style: none;
}

.pageEnd b ol a{
    height: 35px;
    text-decoration: none;
}

.pageEnd b ol a :hover{
    color: var(--text-hover-color);
}

.pageEnd b ol a li{
    color: var(--text-default-color);
    user-select: none;
    padding-left: 10px;
    padding-top: 0.5em;
    vertical-align: middle;
}