.projects{
    display: grid;
    padding: 0px;
    margin: 0px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    text-decoration: none;
    list-style: none;
}

@media only screen and (max-width: 720px) {
    .projects{
        grid-template-columns: 1fr;
    }
}

.projects a{
    --title-label-background: var(--page-boundary-color); 
    --title-label-text-color: var(--text-default-color);
    margin: 20px;
    border-radius: 20px;
    width: calc(100% - 40px);
}

@keyframes onHover{
    from{
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    to{
        margin: -15px;
        width: calc(100% + 30px);
        height: calc(100% + 30px);
        margin-bottom: 15px;
    }
}

.projects a :hover{
    --title-label-background: var(--background-hover-color); 
    --title-label-text-color: var(--text-hover-color);
    animation-name: onHover;
    animation-duration: 0.2s;
    animation-direction: normal;
    margin: -15px;
    margin-bottom: 15px;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    border-radius: 20px;
}

.projects a li{
    position:relative;
    height: 100%;
    min-height: 310px;
    width: 100%;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size:cover;
}

.projects a li div{
    text-transform: capitalize;
    text-decoration: none;
    font-size: large;
    position: absolute;
    bottom: 0px;
    width: calc(100% - 20px);
    max-height: 50px;
    padding: 10px;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    background-color: var(--title-label-background);
    color: var(--title-label-text-color);
}

.projects a li div:hover{
    animation-name: none;
    margin: 0px;
    margin-bottom: 0px;
    width: calc(100% - 20px);
    max-height: 50px;
    height: min-content;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
}