body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 60px;
    text-shadow: 1px 1px 2px black;
    background-color: pink;
    margin: 10px;
}

.header{
    box-sizing: border-box; 
    z-index: 10;
    background-color:rgb(201, 67, 130); 
    height: 60px;
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
}

.header ol{
    margin: 0px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style:none;
    padding-inline-start: 20px;
    height: 100%;
}

.header ol a{
    text-decoration: none;
    display: block;
    min-width: 100px;
    max-width: 250px;
}

.header ol :hover{
    background-color: rgb(246, 227, 230);
}

.header ol a li{
    text-transform: capitalize;
    text-align: center;
    vertical-align: middle;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 150%;
    color: white;
}

.page{
    color: white;
    background-color:rgb(206, 114, 157);
    display: flex;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    padding: 20px;
    max-width: 820px;
    border-radius: 15px;
}

.pageEnd{
    box-sizing: border-box; 
    z-index: 10;
    background-color:rgb(201, 67, 130); 
    min-height: 100px;
    width: calc(100% + 20px);
    margin-top: 10px;
    margin-right: -10px;
    margin-bottom: -10px;
    margin-left: -10px;
    padding: 20px;
}

.pageEnd b{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.pageEnd b ol{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: 20%;
    list-style: none;
}

.pageEnd b ol a{
    height: 35px;
}

.pageEnd b ol a :hover{
    color: azure;
}

.pageEnd b ol a li{
    user-select: none;
    padding-left: 10px;
    padding-top: 0.5em;
    vertical-align: middle;
}